.list {
  display: flex;
  flex-direction: column;

  &__dialog {
    width: 300px;
    height: 91.26px;
    display: flex;

  }

  &__dialog--img {
    margin: 22px 14px 18px 21px;
  }

  &__dialog--name {
    margin-top: 26px;
    font-family: "Exo 2", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.57px;
    color: #01134e;
    position: relative;
  }

  &__dialog--message {
    margin-top: 5px;
    width: 170px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #252f48;
    mix-blend-mode: normal;
    opacity: 0.43;
  }

  &__dialog--time {
    margin: 13px 14px 63px 0;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.43px;
    color: #9ba0ad;
  }
}

.active {
  box-shadow: 0 5px 5px rgba(190, 200, 212, 0.2),
    0 -5px 5px rgba(224, 224, 224, 0.15);
}

.grey-bg {
  background: #f7f9fc;
}

.online::after {
  content: url(../images/online.svg);
  position: absolute;
  bottom: 14px;
}

.muted:before {
  content: url(../images/muted.svg);
  position: absolute;
  top: 18px;
  left: -48px;
}
